In [1]:
import sqlalchemy as sql
import pandas as pd

In [2]:
connection_url='sqlite:///Resources/market.db'
engine=sql.create_engine(connection_url)

In [5]:
engine.table_names()

/Users/kevinlee/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['items', 'transactions']

In [8]:
df=pd.read_csv('Resources/Fandom_items.csv')
df.head()

                item  cost  inventory
0  signed_basketball   100         10
1     season_tickets   500          4
2      signed_jacket   200          2
3      signed_hoodie   150          2
4               vote   100       1000

In [10]:
df.to_sql('items', con=engine)

In [8]:
sql_query="""
create table transactions(
    buyer_add VARCHAR, 
    item VARCHAR, 
    time_stamp VARCHAR
)
"""
engine.execute(sql_query)

In [10]:
sql_query="insert into transactions values ('Kevin', 'Card', '22-05-04@18:02:42')"
engine.execute(sql_query)

In [14]:
list(engine.execute('select * from transactions'))

[('Kevin', 'Card', '22-05-04@18:02:42')]